affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1733762038348/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1764875182/work
backports.zstd @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_backports.zstd_1767045004/work
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1773302546197/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1759755605562/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1764016952863/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
Cartopy @ file:///home/conda/feedstock_root/build_artifacts/cartopy_1756883575031/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1772001073725/work/certifi
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1768510771169/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1773659966602/work
click @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_click_1764518652/work
click-plugins @ file:///home/conda/feedstock_root/build_artifacts/click-plugins_1750848229740/work
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1733749956636/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cloudpickle_1765303462/work
cmweather @ file:///home/conda/feedstock_root/build_artifacts/cmweather_1734534326050/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_contourpy_1769155979/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1771855674632/work
dask @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_dask-core_1769829714/work
deprecation @ file:///home/conda/feedstock_root/build_artifacts/deprecation_1589881437857/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_distributed_1771421764/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1750113804946/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1773137064424/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1770387778895/work
GDAL @ file:///home/conda/feedstock_root/build_artifacts/libgdal-core_1772651389595/work/build/swig/python
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1773131057865/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
h5netcdf @ file:///home/conda/feedstock_root/build_artifacts/h5netcdf_1769241758791/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1764016469420/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1773067050/work
lat_lon_parser @ file:///home/conda/feedstock_root/build_artifacts/lat_lon_parser_1736486071810/work
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lz4 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_lz4_1765026394/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1752271512095/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1772444934960/work
matplotlib==3.10.8
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1762503974934/work
munkres==1.1.4
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1773164865/work
netCDF4 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_netcdf4_1772794140/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1765215107/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpy_1773839284/work/dist/numpy-2.4.3-cp312-cp312-linux_x86_64.whl#sha256=bd15e3dc0b3b571b30f62a64a69d71a6d27674e5d0ed5436cde406f2704c93e9
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pandas_1771408991/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1715026491486/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1770794002/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_psutil_1769678155/work
pyarrow==23.0.1
pyogrio @ file:///home/conda/feedstock_root/build_artifacts/pyogrio_1764402311932/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
pyproj @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyproj_1772623249/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1764355200360/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1770223234623/work
rasterio @ file:///home/conda/feedstock_root/build_artifacts/rasterio_1767632444542/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1766926974/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_scikit-learn_1765801245/work/dist/scikit_learn-1.8.0-cp312-cp312-linux_x86_64.whl#sha256=52bcc2137fa95cf1c42b9ba0e99697e403fcf95c9e2289651f38cbb3eae42a70
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1771879143114/work/dist/scipy-1.17.1-cp312-cp312-linux_x86_64.whl#sha256=141f721c574c72812b8184918c7a44890af730e8cea9be70bb2be8428a2b6f25
setuptools==82.0.1
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1762523538083/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
snuggs @ file:///home/conda/feedstock_root/build_artifacts/snuggs_1733818638588/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1738440353519/work
tblib @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tblib_1762956379/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1760707739667/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1765836395280/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1770908957718/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1767817748113/work
wheel==0.46.3
wradlib @ file:///home/conda/feedstock_root/build_artifacts/wradlib_1773776594202/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_xarray_1771083999/work
xmltodict @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_xmltodict_1771770296/work
xradar @ file:///home/conda/feedstock_root/build_artifacts/xradar_1770129953370/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1763813636763/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1733261551178/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1764460141/work
